<div ng-include="'app/views/shared/header.html'"></div>

<div class="container">
    <div class="row">
        <table id="users" class="users-list table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Address</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>operations</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.telephone}}</td>
                <td>{{user.address}}</td>
                <td>{{user.street}}</td>
                <td>{{user.city}}</td>
                <td>{{user.state}}</td>
                <td>{{user.zip}}</td>
                <td>
                    <a ng-href="#edit/{{user.id}}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit user
                    </a>
                    <button ng-click="removeUser(user.id)" type="button" class="btn btn-danger" aria-label="Left Align">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove user
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>